@import "tailwindcss";

@theme {
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:is(.dark *));

/* تحسينات الـ Scrollbar التي بنيناها سابقاً */
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}